[user]
	name = SakaiTaka23
	email = tt3.sakai@gmail.com
[ghq]
	root = /Users/fumi/Downloads
[init]
	defaultBranch = main
[alias]
	co = checkout
	dl = ! git branch -d `git branch --merged | grep -v '^*\\|main\\|master'`
	re = reset --soft HEAD^
[core]
	pager = less -F -X
